@page {
    margin: 0em;
}

/* Default */
p {text-indent: 1.5em; margin: 0 0 0 0; font-family: "Times New Roman", serif}
h1, h2, h3, h4, h5, h6 {margin: 0 0 0 0; font-family: "Times New Roman", serif; font-weight: normal; -webkit-hyphens: none; adobe-hyphenate: none; -moz-hyphens: none}
div {margin: 0 0 0 0;}
sup {line-height: 0}
.center {text-indent: 0; text-align: center}

/* Pagebreak */
.pagebreak {page-break-before: always}

/* Cover */
.cover {margin: 0 0 0 0; text-align: center; background-color: #ffffff;}
.coverimage {height: 100%; text-align: center; margin: 0 0 0 0}

